@import url("icon/style.css");

#testcontainer {
	width: 60%;
	margin: 0 auto;
	font-family: Arial;
}
.cbds-detail-block {
	width: 100%;
}
.cbds-detail-line-header {
	background-color: rgb(60,60,60);
	color: white;
	font-weight: 600;
	font-size: 80%;
	display: flex;
	flex-direction: row;
}
.cbds-detail-line-header__label {
	padding: 20px 0;
	flex-grow: 1;
}
.cbds-detail-line__main {
	flex-direction: row;
	display: flex;
}
.cbds-detail-line__column {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

/* Inputs, selects and textarea's */
.cbds-field,
.cbds-dropdown {
	border-bottom: 1px solid #000000;
}
.cbds-field--narrow input{
	width: 50px;
}
.cbds-field--mediumwidth input{
	width: 100px;
}
.cbds-field--wide input{
	width: 150px;
}
.cbds-field input,
.cbds-dropdown select {
	border: none;
	padding: 0 0 6px 0;
}
.cbds-field--number input {
	-moz-appearance:textfield;
}
.cbds-field--number input::-webkit-inner-spin-button, 
.cbds-field--number input::-webkit-outer-spin-button, {
	-webkit-appearance: none;
	margin: 0; 
}
.cbds-dropdown select {
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
	padding-right: 18px;
}
.cbds-dropdown {
	position: relative;
	display: inline-block;
}
.cbds-dropdown__arrow {
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: #d6d6d6 transparent transparent transparent;
	position: absolute;
	right: 0;
	top: 30%;
	pointer-events: none;
}
.cbds-field--currency {
	position: relative;
}
.cbds-field__cursymbol {
	position: absolute;
	right: 0;
	bottom: 4px;
}


/* Images */
.cbds-image-container {
	text-align: center;
	overflow: hidden;
}
.cbds-image-container--small {
	height: 80px;
	width: 80px;
}
.cbds-image-container--medium {
	height: 140px;
	width: 140px;
}
.cbds-image-container--large {
	height: 200px;
	width: 200px;
}
.cbds-image-container img {
	height: 100%;
	width: auto;
}

/* Tools */
.cbds-detail-line-toolbox {
	background-color: #0079B7;
	flex-grow: 1;
	display: flex;
}
.cbds-detail-line-toolbox--vertical {
	flex-direction: column;
}
.cbds-detail-line-toolbox--horizontal {
	flex-direction: row;
}
.cbds-detail-line-toolbox__tool {
	display: block;
	line-height: 18px;
	padding: 6px 0;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;
	flex-grow: 1;
}
.cbds-detail-line-toolbox--horizontal .cbds-detail-line-toolbox__tool {
	border: none;
}
.cbds-detail-line-toolbox__tool--red {
	background-color: #c50008;
}
.cbds-detail-line-toolbox__tool:last-child {
	border-bottom: none;
}

/* Width modifiers */
.cbds-detail-line-header__label--width10,
.cbds-detail-line__column--width10 {
	width: 10%;
}
.cbds-detail-line-header__label--width20,
.cbds-detail-line__column--width20 {
	width: 20%;
}
.cbds-detail-line-header__label--width30,
.cbds-detail-line__column--width30 {
	width: 30%;
}
.cbds-detail-line-header__label--width40,
.cbds-detail-line__column--width40 {
	width: 40%;
}
.cbds-detail-line-header__label--width50,
.cbds-detail-line__column--width50 {
	width: 50%;
}
.cbds-detail-line-header__label--width60,
.cbds-detail-line__column--width60 {
	width: 60%;
}
.cbds-detail-line-header__label--width70,
.cbds-detail-line__column--width70 {
	width: 70%;
}
.cbds-detail-line-header__label--width80,
.cbds-detail-line__column--width80 {
	width: 80%;
}
.cbds-detail-line-header__label--width90,
.cbds-detail-line__column--width90 {
	width: 90%;
}
.cbds-detail-line-header__label--width100,
.cbds-detail-line__column--width100 {
	width: 100%;
}