@import url("icon/style.css");

#testcontainer {
	width: 60%;
	min-width: 1024px;
	margin: 0 auto;
}
.cbds-detail-block {
	width: 100%;
}
.cbds-detail-line--template {
	display: none;
}
.cbds-detail-line-preheader {
	background-color: rgb(6,28,63);
}
.cbds-detail-line-header {
	background-color: rgb(22, 50, 92);
}
.cbds-detail-line {
	background-color: #ffffff;
}
.cbds-detail-line__extra {
	transform: scaleY(0);
	height: 0;
	transform-origin: 0 0;
	transition: transform 0ms linear;
	background: rgb(244, 246, 249) none repeat scroll 0% 0%;
}
.cbds-detail-line__extra--expanded {
	transform: scaleY(1);
	height: auto;
	transition: transform 100ms linear;
}
.cbds-detail-line__column,
.cbds-product-lines-aggr__column {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

/* Images */
.cbds-image-container {
	text-align: center;
	overflow: hidden;
}
.cbds-image-container--small {
	height: 80px;
	width: 80px;
}
.cbds-image-container--medium {
	height: 140px;
	width: 140px;
}
.cbds-image-container--large {
	height: 200px;
	width: 200px;
}
.cbds-image-container img {
	height: 100%;
	width: auto;
}

/* Aggregation block */
.cbds-product-lines-aggr {
	background-color: rgb(230,230,230);
	color: rgb(140,140,140);
	padding: 1rem;
}
.cbds-product-lines-aggr input {
	background-color: rgb(230,230,230);
	vertical-align: baseline;
	padding: 0;
	font-size: 1.05rem;
}


/* Autocomplete */
.cbds-product-search {
	position: relative;
}
.cbds-product-search__results {
	position: absolute;
	z-index: 1;
	top: 100%;
	width: 100%;
	list-style-type: none;
	padding: 0;
	background-color: #ffffff;
	font-size: 0.8rem;
	-webkit-box-shadow: 0px 3px 4px -1px rgba(82,82,82,0.45);
	-moz-box-shadow: 0px 3px 4px -1px rgba(82,82,82,0.45);
	box-shadow: 0px 3px 4px -1px rgba(82,82,82,0.45);
}
.cbds-product-result {
	border-bottom: 1px solid #d8d8d8;
	padding: 0.4rem;
}
.cbds-product-result--selected {
	background-color: #0079B7;
	color: #ffffff;
	cursor: pointer;
}
.cbds-product-result:last-child {
	border: none;
}
.cbds-product-result__title {
	font-weight: 600;
	margin-bottom: 7px;
}
.cbds-product-result-line {
	display: flex;
	flex-direction: row;
}
.cbds-product-result-line__label {
	width: 40%;
	font-weight: 600;
}
.cbds-product-result-line__label,
.cbds-product-result-line__value {
	flex-grow: 1;
	font-size: 0.75rem;
}

.cbds-detail-line-dragtool {
	position: relative;
	text-align: center;
	cursor: pointer;
}
.cbds-detail-line-dragtool svg {
	position: absolute;
	top: 0;
	transform: translate3d(-50%, 50%, 0);
}

.cbds-button--delete {
	background-color: #d17575;
}
.cbds-button--delete use,
.cbds-button--delete svg {
	color: #ffffff;
}

.cbds-panelheader {
	background-color: #3f5a82;
	padding: 0.5rem;
}
.cbds-detail-line-extratool svg {
	transition: transform 100ms linear;
}
.cbds-exp-coll-icon--expanded {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}